<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<script src = "//cdn.ckeditor.com/4.5.6/standard/ckeditor.js" > </script>
	<script src="https://unpkg.com/jquery@3.3.1/dist/jquery.min.js"></script>
	<meta charset="ISO-8859-1">
	<link th:href="@{/resources/css/main.css}" rel="stylesheet"/>
	<title>mobile c&c</title>
</head>
<body style="margin: 0; overflow: hidden; background: transparent;">
   <h1 class="hello-title">Spring MVC + Thymeleaf  Hello World example</h1>
   
	<!-- <div class="container">
		<h2>CKEditor</h2>
		<form th:action="@{/category/saveProcess}">
			<div class="form-group">
				<label>Description:</label><input type="text" th:field="*{desc}" class="form-control" placeholder="Leave your comments here"/>
			</div>
			<div class="pull-right">
				<input type="submit" value="Submit" class="btn btn-primary"/>
			</div>
		</form>
	</div> -->
</body>
</html>

